body {
    font-family: Arial, sans-serif;
    background-color: #E1E8ED;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-size: 16px;
  }
  
  input[type="text"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0E81C7;
  }
  